.App {
  margin: 1rem 1rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.nav1 {
  background: -webkit-linear-gradient(
    #ff008450,
    #fca40040 30%,
    #ffff0030 40%,
    #00ff8a20 60%,
    #00cfff40 70%,
    #cc4cfa50 85%
  );
}
.clickcolumn {
  /* grid-template-columns: 10px auto auto auto; */
}
.todo-lish {
  /* grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: grid;

  grid-template-columns: 90px auto auto auto; */
}

:root {
  --dur: 0.3s;
  font-size: calc(24px + (10 - 10) * (20px - 20px) / (1080 - 300));
}
body,
input {
  color: hsl(0, 0%, 1%);
  font: 10rem/1.5 sans-serif;
}
form,
.toggle:before,
.toggle:after {
  background: hsl(0, 0%, 100%);
}
form,
.toggle {
  position: relative;
}
form {
  justify-content: center;
  align-items: center;
  height: 1.8rem;
}
.darklight,
.sr,
.toggle:before,
.toggle:after {
  position: absolute;
}
.darklight,
.toggle:before,
.toggle:after {
  transition: transform var(--dur);
}
.darklight,
.toggle:before,
.toggle:checked:after {
  transition-timing-function: ease-out;
}
.darklight,
.sr {
  top: 0;
  left: 0;
}

.darklight {
  background: hsl(0, 0%, 94%);
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 50rem;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
.sr,
.toggle {
  overflow: hidden;
}
.sr {
  clip: rect(1px, 1px, 1px, 1px);
  color: transparent;
  width: 8rem;
  height: 8rem;
}
.toggle {
  background: currentColor;
  border-radius: 22px;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before,
.toggle:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em;
}
.toggle:before,
.toggle:checked:after {
  transition-delay: 0s;
}
.toggle:checked:before,
.toggle:after {
  transition-delay: calc(var(--dur) * 0.75);
  transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}
.toggle:before {
  transform: translateX(-1.5em);
}
.toggle:checked:before {
  transform: translateX(1.5em);
}
.toggle:checked:after {
  transform: translateX(3em);
}
.toggle:checked ~ .darklight {
  transform: scaleX(1);
}
.toggle:focus {
  outline: transparent;
}

body {
  background-color: #0c002b;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #011b1d;
  width: 500px;
  height: 500px;
  box-shadow: 0 20px 50px #18225e;
  border: 2px solid #2a3cad;
  padding: 20px;
}

.but {
  height: fit-content;
  border: 1px solid #f0a591;
  padding: 65px 50px 50px;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

/*Border design*/
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/*SignUp design*/
#up {
  text-align: center;
  border: 5px solid #ac75f5;
  width: 350px;
  margin-top: 30px;
  border-radius: 20px;
  animation: upb-flicker 6s linear infinite;
}

#uph1 {
  color: #ad3a3a;
  font-family: "Raleway";
  font-size: 54px;
  letter-spacing: 10px;
  animation: uph1-flicker 3s linear infinite;
}

.ups {
  display: inline;
  animation: ups-flicker 4s linear infinite;
}

@keyframes upb-flicker {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  2% {
    opacity: 0.4;
    box-shadow: 0px 0px 78px 4px #832a6d;
  }

  10% {
    opacity: 0.8;
    box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  25% {
    opacity: 0.4;
    box-shadow: 0px 0px 78px 4px #832a6d;
  }

  50% {
    opacity: 0.6;
    box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  65% {
    opacity: 0.6;
    box-shadow: 0px 0px 78px 4px #832a6d;
  }

  85% {
    opacity: 0.5;
    box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  100% {
    opacity: 0.8;
    box-shadow: 0px 0px 78px 4px #832a6d;
  }
}

@keyframes uph1-flicker {
  5% {
    opacity: 0.2;
    text-shadow: 0px 0px 20px #b8da59;
  }

  15% {
    opacity: 0.5;
    text-shadow: 0px 0px 40px #e87810;
  }

  25% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px #b8da59;
  }

  30% {
    opacity: 0.6;
    text-shadow: 0px 0px 40px #e87810;
  }

  60% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px #b8da59;
  }

  80% {
    opacity: 0.2;
    text-shadow: 0px 0px 40px #e87810;
  }

  100% {
    opacity: 0.6;
    text-shadow: 0px 0px 20px #b8da59;
  }
}

@keyframes ups-flicker {
  10% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #b1d362;
  }

  20% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #c2b223;
  }

  30% {
    opacity: 0.8;
    text-shadow: 0px 0px 29px #b1d362;
  }

  40% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #c2b223;
  }

  50% {
    opacity: 0.6;
    text-shadow: 0px 0px 29px #b1d362;
  }

  65% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #c2b223;
  }

  75% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px #b1d362;
  }

  100% {
    opacity: 0.5;
    text-shadow: 0px 0px 29px #c2b223;
  }
}

/*LogIN design*/
#in {
  text-align: center;
  border: 5px solid #d4d65b;
  width: 350px;
  border-radius: 20px;
  padding: 5px;
  animation: inb-flicker 6s linear infinite;
}

#inh1 {
  color: #605ee9;
  font-family: "Raleway";
  font-size: 52px;
  letter-spacing: 10px;
  animation: inh1-flicker 3s linear infinite;
}

.ins {
  display: inline;
  animation: ins-flicker 5s linear infinite;
}

@keyframes inb-flicker {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 78px 4px #e81046;
  }

  2% {
    opacity: 0.4;
    box-shadow: 0px 0px 78px 4px #f3136f;
  }

  10% {
    opacity: 0.8;
    box-shadow: 0px 0px 78px 4px #f95959;
  }

  25% {
    opacity: 0.4;
    box-shadow: 0px 0px 78px 4px #f29c9c;
  }

  50% {
    opacity: 0.6;
    box-shadow: 0px 0px 78px 4px #fe7aa8;
  }

  65% {
    opacity: 0.6;
    box-shadow: 0px 0px 78px 4px #e85f10d0;
  }

  85% {
    opacity: 0.5;
    box-shadow: 0px 0px 78px 4px #e8e410;
  }

  100% {
    opacity: 0.8;
    box-shadow: 0px 0px 78px 4px #e85f10;
  }
}

@keyframes inh1-flicker {
  0% {
    opacity: 0.2;
    text-shadow: 0px 0px 20px #e810c4;
  }

  5% {
    opacity: 0.7;
    text-shadow: 0px 0px 40px #10e822;
  }

  15% {
    opacity: 0.4;
    text-shadow: 0px 0px 20px #e810c4;
  }

  30% {
    opacity: 0.6;
    text-shadow: 0px 0px 40px #10e822;
  }

  45% {
    opacity: 0.3;
    text-shadow: 0px 0px 20px #e810c4;
  }

  55% {
    opacity: 0.6;
    text-shadow: 0px 0px 40px #10e822;
  }

  5% {
    opacity: 0.2;
    text-shadow: 0px 0px 20px #e810c4;
  }

  75% {
    opacity: 0.9;
    text-shadow: 0px 0px 40px #10e822;
  }

  100% {
    opacity: 0.4;
    text-shadow: 0px 0px 20px #e810c4;
  }
}

@keyframes ins-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 50px #10e822;
  }

  2% {
    opacity: 0.8;
    text-shadow: 0 0 50px #e810c4;
  }

  15% {
    opacity: 0.4;
    text-shadow: 0 0 50px #10e822;
  }

  25% {
    opacity: 0.3;
    text-shadow: 0 0 50px #e810c4;
  }

  35% {
    opacity: 0.6;
    text-shadow: 0 0 50px #10e822;
  }

  45% {
    opacity: 0.2;
    text-shadow: 0 0 50px #e810c4;
  }

  55% {
    opacity: 0.7;
    text-shadow: 0 0 50px #10e822;
  }

  65% {
    opacity: 0.4;
    text-shadow: 0 0 50px #e810c4;
  }

  75% {
    opacity: 0.9;
    text-shadow: 0 0 50px #10e822;
  }

  80% {
    opacity: 0.5;
    text-shadow: 0 0 50px #e810c4;
  }

  100% {
    opacity: 0.7;
    text-shadow: 0 0 50px #10e822;
  }
}

body {
  color: #000000;
  font-family: Sans-Serif;
  padding: 30px;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.form {
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.footer {
  text-align: center;
}

.app {
  width: 70%;
  text-align: center;
}

.app input {
  border: 0.5px solid #ccc;
}
.progress-container {
  height: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.progress-container .progress-bar {
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8dc69;
}
#mainContainer {
  width: 31.25em;
  height: 18.75em;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  background: #ffeff2;
  border-radius: 0.3em;
  box-shadow: 12px 12px 30px -11.9px rgba(251, 60, 96, 0.35),
    inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  transition: 0.8s;
}

#mainContainer:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.aside {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  display: inline-block;
  filter: drop-shadow(5px 5px 15px #9695a9);
}

.cardview {
  position: relative;
  width: 17em;
  height: 20.2em;
  top: -12px;
  left: -5px;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  background: linear-gradient(120deg, #c0bfda, #857fe0, #463cd8, #19118b);
  clip-path: polygon(0 0, 100% 0%, 71% 100%, 0% 100%);
}

#card-content {
  width: 500px;
  height: inherit;
  box-sizing: border-box;
  padding: 20px 4px;
}

#header > h2 {
  font-family: "Roboto", sans-serif;
  color: #463cd8;
  font-size: 1.8em;
  font-weight: bold;
  padding: 20px 20px 20px 5px;
}

#disc {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

#disc > p {
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  font-size: 15px;
  font-weight: normal;
  color: #463cd8;
}

.readmore_btn {
  font-family: "Roboto", sans-serif;
  width: 100px;
  height: 32px;
  background: transparent;
  border: 1px solid black;
  outline: 0;
  float: right;
  bottom: 0;
  margin-top: 45px;
  margin-right: 20px;
  color: #463cd8  ;
  justify-content: center;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s;
}

.readmore_btn:hover {
  background: #fa3b58;
  color: #ffff;
  box-shadow: none;
}

.footer {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  color: white;
}

.btn {
  padding: 0 10px 0;
  text-decoration: none;
  display: inline-block;
  color: #9e9e9e;
  background: transparent;
  outline: 0;
  transform: scale(1);
  transition: 0.6s;
}

.btn:hover {
  color: #fc3e65;
  box-shadow: none;
  transform: scale(1.1);
  transition: 0.5s;
}

.logo img {
  position: relative;
  border-radius: 5px;
  max-width: 100%;
  margin: 45px;
  height: 110px;
  justify-content: center;
}





/* Base for label styling */
.checkbox03{

[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: 0;
		opacity: 0.01;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left:0em;
		font-size: 1em;
		line-height: 1.5rem;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 1.4em;
		height: 1.4em;
		border: 1.2px solid #aaa;
		background: #FFF;
		border-radius: .2em;
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
		-webkit-transition: all .275s;
				transition: all .275s;
	}

	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✓';
		position: absolute;
		top: .490em;
		left: .15em;
		font-size: 1.375em;
		color:#3ca8eb;
		line-height: 0;
		-webkit-transition: all .2s;
				transition: all .2s;
	}

	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
	}

	[type="checkbox"]:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0);
				transform: scale(1) rotate(0);
	}

	/* Disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color:#3ca8eb;
	}

	[type="checkbox"]:disabled:checked + label:after {
		color: #777;
	}

	[type="checkbox"]:disabled + label {
		color: #aaa;
	}

	/* Accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
	}
}


//Password Login
.valid{
color: green;
}
.invalid{
color: red;
}
